.mediaItem{
    /* background: rgb(153,58,58); */
/* background: linear-gradient(135deg, rgba(153,58,58,1) 0%, rgba(205,200,194,1) 9%, rgba(52,43,32,1) 98%, rgba(24,14,2,1) 100%); */
height: 100%;
width: 80%;
border-radius: 10px;
margin-left: 40px;
}

.responsive-slider {
    width: 70%;
    height: auto;
  }

.media-container{
  
     display: flex;
     justify-content: center;
    align-items: center;
    }

.media-img{
    width: 100%;
    height: 60%;
    box-shadow: -1px 2px 9px 5px rgba(255,255,255,0.75);
-webkit-box-shadow: -1px 2px 9px 5px rgba(255,255,255,0.75);
-moz-box-shadow: -1px 2px 9px 5px rgba(255,255,255,0.75);
transition: all .3s ease-in-out;
margin-bottom: 5px;
border-radius: 10px;
}

.media-img:hover{
    transform: scale(1.04);
}

.media-date{
    font-style: italic;
    font-size: smaller;
}

.media-title{
    font-weight: 700;
}