.navbar{
  height: 12vh;
  width: 100vw;
  background-color:antiquewhite;
  border-radius: 0%;
  display: flex;
  z-index: 1000;
transition: all .6s;
position: fixed;

}






.icon{
  color: black;
  transition: all 1s;
}


.icon:hover{
  transform: scale(1.2);
}

.logo{
    margin-right: 40px;
  z-index: 9;
    width: 7vw;
    z-index: 1000;
    transition: all 1s;
    animation: scale 1s infinite alternate; 

}


.logo:hover{
  transform: scale(1.05);
}





.navbar-link{
    width: 170px;
    margin: auto;
    color: black;
    font-size: large;
    height: 30px;
    background-color: transparent;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 15px;
    transition: all .4;
    text-shadow: -5px 2px 8px rgba(255,255,255,0.85);
    transition: all .3s;
    font-family: 'Oswald',sans-serif;


}

.navbar-link:hover{
  text-shadow: -5px 2px 18px rgba(255,255,255,0.85);
  transform: scale(1.2);

}

.social-icons{
  z-index: 100;
  width: 40vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: transparent;

}


.sidebar{
  width: 100vw;
  height: 100vh;
  align-items: center;
  gap: 30px;
  background: rgba(255, 255, 255, 0.48);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(6.5px);
  -webkit-backdrop-filter: blur(6.5px);
}


.upbar-link{
  transition: all .6s;
}

.upbar-link:hover{
    transform: scale(1.05);
}



@keyframes scale {
  0% {
      transform: scale(1);
  }
  100% {
      transform: scale(1.1);
  }
}